
body {
    padding:0px;
    margin: 0px;
    background-color: rgb(51, 51, 51);
    color: black;
    font-weight: 300;
    font-size: 13pt;
}

.wordstudy {
  font-size: 36pt;
  color: white;
}

.instructions {
  font-size: 18pt;
  color: white;
}

/* text styling */
strong {
  font-weight: 600;
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-not-an-ad, #container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 100px;
    padding-top: 5%;
    border: 18px solid #f3f3f3;
    background: white;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
  height: 1300px;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

.centerTop {
  position: absolute;
  top: 12%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
	text-align: center;
	margin: auto;
	font-size: 4vh;
  color: white;
}

img.left1 {
   width: 30vw;
   height: 30vw;
   position: absolute;
   top: 20%;
   right: 55%;
   background: rgb(161, 161, 161); /* medium gray    z-index: -1;*/
   border: 3vw solid white;
}

img.left2 {
   width: 30vw;
   height: 30vw;
   position: absolute;
   top: 20%;
   right: 55%;
   background: transparent;
   border:3px solid transparent;
   padding: 3vw;
}


img.right1 {
   position: absolute;
   width: 30vw;
   height: 30vw;
   top: 20%;
   right: 20%;
   background: transparent;
   background: rgb(161, 161, 161); /* medium gray    z-index: -1;*/
   border: 3vw solid white;
}​

/* for whatever reason, jspsych overrides these instead set with jquery*/
img.right2 {
   width: 30vw;
   height: 30vw;
   position: absolute;
   top: 20%;
   right: 20%;
   background: transparent;
   border:3px solid transparent;
   padding: 3vw;
}

.right2:hover{
  border-color: #3399FF;
}

.left2:hover{
  border-color: #3399FF;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; font-family: 'Open Sans', 'Arial', sans-serif;}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-no-suggestion { color: rgb(255, 0, 0); text-align: center; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
input { font-size: 28px; padding: 10px; border: 1px solid #CCC; display: block; margin: 20px 0; width: 350px }
