<!doctype html>
<!--
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to
  describe what people can do if an error comes up, etc...

-->
<html>
    <head>
        <meta charset="utf-8" />
        <title>Visual Recollection - Informed Consent Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel=stylesheet href="/static/css/style.css" type="text/css">
        <link rel="icon" href="/static/favicon.ico" />
        <script type="text/javascript">
            function onexit() {
              self.close(); // no harm, no foul here
            }
        </script>
    </head>
    <body>
        <div id="container-consent">
            <div id="consent">
                <h1>Agreement to Participate Confidentially in a Research Study University of Massachusetts Amherst</h1>
                <hr>
                <div class="legal well">

                  <p> <strong>Study Title:</strong>			Behavioral Studies of Visual Perception and Memory

                  <h5>1. WHO IS ELIGIBLE TO PARTICIPATE?</h5>
                    <p>You must be at least 18 years old to participate in this study and you must access Mechanical Turk from a computer located within the United States. You must have a hit approval rating of at least 95% and you must have completed at least 100 hits.</p>

                    <h5>2. WHAT IS THE PURPOSE OF THIS STUDY?</h5>
                      <p>This study investigates your memory for simple stimuli (e.g., words or images of objects).</p>

                    <h5>3. HOW LONG WILL THIS EXPERIMENT LAST?</h5>
                      <p>This study will take a maximum of 20 minutes. Some participants finish within 10-15 minutes.</p>

                      <h5>4. WHAT WILL I BE ASKED TO DO?</h5>
                        <p>You will view a sequence of words and/or pictures (of, e.g., object). You will be asked to study the items in this sequence and your memory for these items will be tested.</p>

                      <h5>5. WHAT ARE THE RISKS OF being in THIS STUDY?</h5>
                        <p>There are no expected risks to this study beyond the potential that you may become bored with the task.</p>

                      <h5>6. WHAT INFORMATION WILL YOU COLLECT? </h5>
                        <p>Only your keyboard responses will be collected and the researchers performing this study will never know your identity. There will be no record of your identity associated with the responses you provide. Amazon knows your identity and will use your identity to compensate you for your time, but your identity will not be provided to the researchers running this study. As with any online related activity, the risk of a breach of confidentiality is always possible. To the best of our ability your answers in this study will remain confidential. </p>

                      <h5>7. PAYMENT FOR PARTICIPATION?</h5>
                        <p>If you decide to stop your participation prior to completion of the study, you will receive $.10 for each minute of your time. If you complete the entire study you will receive $2 even if it takes you less than 20 minutes. In the rare event that you have not completed the study by 20 minutes, the study will cease, and you will receive $2 for your participation.</p>

                      <h5>8. WHAT IF I HAVE QUESTIONS?</h5>
                        <p>If you have questions about this study, you may contact the primary investigator, Rosie Cowell, at rcowell@psych.umass.edu. If you have any questions concerning your rights as a research subject, you may contact the University of Massachusetts Amherst Human Research Protection Office (HRPO) at humansubjects@ora.umass.edu.</p>

                      <h5>9. CAN I STOP BEING IN THE STUDY?</h5>
                        <p>Your participation in the experiment is voluntary and you can withdraw at any time without penalty. You will still be paid according to the number of minutes that you participated even if you do not complete the study.</p>

                    <button type="button" class="btn btn-default btn-sm" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                    </button>
                </div>

                <hr>
                <h4>By clicking this button, I agree to participate confidentially in this study.</h4>
                <br>

                <center>
                    <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree
                    </button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I do not want to do this HIT
                    </button>
                </center>

            </div>
        </div>
    </body>
</html>
