<!doctype html>
<html>

    <head>
        <meta charset="utf-8" />
        <title>Visual Recollection</title>
        <link rel="icon" href="/static/favicon.ico" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/lib/underscore-min.js"></script>
        <script src="static/lib/backbone-min.js"></script>
        <script src="https://rawcdn.githack.com/devbridge/jQuery-Autocomplete/master/dist/jquery.autocomplete.min.js"></script>
        <script src="https://rawcdn.githack.com/mholt/PapaParse/master/papaparse.min.js"></script>

        <script type="text/javascript">
            // These fields provided by the psiTurk Server
            var uniqueId = "{{ uniqueId }}"; // a unique string identifying the worker/task
            var adServerLoc = "{{ adServerLoc }}"; // the location of your ad (so you can send user back at end of experiment)
            var mode = "{{ mode }}"; // is this running live, sandbox, or in debug mode?
			      var condition = {{ condition }}; // which stimulus list will be encountered
			      var counterbalance = {{ counterbalance }}; // a number indexing counterbalancing conditions

        </script>
        <script src="static/lib/jsPsych/jspsych.js"></script>

        <script src="static/lib/jsPsych/plugins/jspsych-fullscreen.js"></script>
        <script src="static/lib/jsPsych/plugins/jspsych-html-keyboard-response.js"></script>
        <script src="static/lib/jsPsych/plugins/jspsych-image-keyboard-response.js"></script>
        <script src="static/lib/jsPsych/plugins/jspsych-html-button-response.js"></script>
        <script src="static/lib/jsPsych/plugins/jspsych-html-slider-response.js"></script>

        <script src="static/js/utils.js"></script>
        <script src="static/js/2afc-button-response.js"></script>
        <script src="static/js/image-textbox-response.js"></script>
        <script src="static/js/html-autocomplete-response.js"></script>
        <script src="static/js/instructions.js"></script>
        <script src="static/js/demographics.js"></script>
        <script src="static/js/timeline_variables.js"></script>

        <script src="static/js/psiturk.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="static/lib/jsPsych/css/jspsych.css" rel="stylesheet" type="text/css"></link>
        <link href="static/css/style.css" rel="stylesheet" type="text/css"></link>
    </head>

    <body>
        <div id='jspsych-target' class='center-content'></div>
    </body>

    <!-- experiment logic script -->
    <script src="static/js/task.js"></script>

    <body>
	    <noscript>
			<h1>Warning: Javascript seems to be disabled</h1>
			<p>This website requires that Javascript be enabled on your browser.</p>
			<p>Instructions for enabling Javascript in your browser can be found
			<a href="http://support.google.com/bin/answer.py?hl=en&answer=23852">here</a></p>
		</noscript>
    </body>

</html>
